#hero-section{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    height: 760px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    

}.hero-circle{
    position: absolute;
    left: auto;
    top: 130px;
    align-items: center;
}
.microphone{
    position: absolute;
    left: auto;
    top: 205px;
    justify-content: center;
    display: flex;

}
.hero-text{
    margin-top: 300px;
    color: white;
    display: flex;
    flex-direction: column;
}
.hero-text h1, p {
    text-align: center;
}
.hero-text h1 {
    font-weight: 700;
    font-size: 60px;
    color: white;
    margin-top: 32px;
}
.hero-text p {
    font-size: 16px;
    color: white;
    margin-bottom: 16px;
}
.button-group{
    display: flex;
    justify-content: center;
    gap: 8px;
}
#button-primary{
    padding: 12px 16px !important;
    text-align: center !important;
    width: 201px;
    height: 44px;
}