.navbar{
    border-bottom: 1px solid #351165 ;
}
#hero-section{
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1600px;
    height: 760px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#new{
    position: absolute;
    background-color: #00FF88;
    color: black;
    left: 53.75%;
    top: 140px;
    align-items: center;
    z-index: 2;
    padding: 8px 10px;
    font-weight: 600;
    border-radius: 25px;
    margin: 0 auto;
}
.hero-circle{
    position: absolute;
    left: auto;
    top: 130px;
    align-items: center;
}
.microphone{
    position: absolute;
    left: auto;
    top: 205px;
    justify-content: center;
    

}
.hero-text{
    margin-top: 300px;
    color: white;
    display: flex;
    flex-direction: column;
}
.hero-text h1, p {
    text-align: center;
}
.hero-text h1 {
    font-weight: 700;
    font-size: 60px;
    color: white;
    margin-top: 32px;
}
.hero-text p {
    font-size: 16px;
    color: white;
    margin-bottom: 16px;
}
.button-group{
    display: flex;
    justify-content: center;
    gap: 8px;
}
#button-primary{
    padding: 12px 16px !important;
    text-align: center !important;
    width: 201px;
    height: 44px;
    display: flex;
    gap: 4px;
}
#button-primary span img{
    padding-top: 2px;
}
#button-secondary{
    padding: 12px 16px;
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid #00FF88;
    border-radius: 40px;
    font-size: 16px;
    display: flex;
    gap: 6px;
    
}
#button-secondary span img{
    padding-top: 5px;
}
#button-secondary:hover{
    background-color: green;
}
#button-primary:hover{
    background-color: gray;
}
.about-section {
    background-color: #1A0B2E;
    color: white ;
    text-align: center;
}
.about-section h1 {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 100px;
}
.about-section p {
    font-size: 16px;
}
.line{
 
  color: #E5E7EB;
  opacity: 10%;
  height: .05px;
  border: none;
 
}
.stats-container{
    display: flex;
    justify-content: space-around;
    background-color: #1A0B2E;
    color: white;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}
.stats h2 {
    color: #00FF88;
    font-size: 48px;
    font-weight: 700;
    
}
.card-container p{
    text-align: left;
    padding-top: 16px;
    font-size: 16px;
    color: #1A0B2E;
}
.card-container h5 {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    padding-top: 16px;
}
#card-text{
    grid-area: text;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
}
#audio{
    grid-area: audio;
    padding: 40px;
    border-radius: 20px;
    background-color: #3511656d;
    padding-top: 120px;
    
}
#audio:hover{
    background-color: rgba(70, 7, 84, 0.868);
}
#mobile{
    grid-area: mobile;
    padding: 40px;
    border-radius: 20px;
    background-color: #3511656d;
}
#mobile:hover{
    background-color: rgba(70, 7, 84, 0.868);
}
#global{
    grid-area: global;
    padding: 40px;
    border-radius: 20px;
    background-color: #3511656d;
}
#global:hover{
    background-color: rgba(70, 7, 84, 0.868);
}
#exclusive{
    grid-area: exclusive;
    padding: 40px;
    border-radius: 20px;
    background-color: #3511656d;
}
#exclusive:hover{
    background-color: rgba(70, 7, 84, 0.868);
}
#rich{
    grid-area: rich;
    padding: 40px;
    border-radius: 20px;
    background-color:#3511656d;
}
#rich:hover{
    background-color: rgba(70, 7, 84, 0.868);
}
#Future-contain{
   display: flex;
    width: 1600px;
    height: 538px;
    max-width: 100%;
    background-color: #1A0B2E;
    color: white;
    justify-content: center;
    gap: 40px;
    padding: 40px 200px;

}
.card{
    width: 400px; 
    height: 440px; 
    border-radius: 25px;
    background-color: #250D44; 
    margin-top:-110px;

}
.card:hover{
    background-color: rgba(70, 7, 84, 0.868);
    color: white;
}

.card h2{
    font-size: 24px;
    font-weight: bold;
    line-height: auto;
    margin-top: 1px;
    padding: 12px 24px;
    text-align: left;
}
.card p{
    color: rgba(255, 255, 255, 0.564);
    margin-top: 1px;
    padding: 12px 24px;
    text-align: left;
    font-size: 14px;
}
.clock {
    display: flex;
    gap: 1px;
    
}
.clock img{
    width: 20px;
    height: 20px;
    margin-left:20px;
    margin-top: 13px;
    margin-right: -16px;
}
.play-btn{
     
  position: absolute;
    top: 50%;    
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 65px;
    height: 65px;   
    
}
.image-btn{
    position: relative; 
    width: 100%;
}
.host-container{
    background-color:  #1A0B2E;
    padding: 0 200px;
    padding-bottom: 200px;

}
.host:hover{
    background-color: rgba(70, 7, 84, 0.868);
}
.host{
    display: flex;
    justify-content: space-around;
    background-color:#3511656d ;
    border-radius: 24px;
    padding: 40px;
    gap: 24px;
    text-align: left;
}
.host-social {
    display: flex;
    gap: 8px;
   
}
.host-social img{
    border: 1px solid black;
    border-radius: 15px;
    padding: 2px;
}
.host-img{
    width: 400px;
    height: 200px;
}
.host-container h1{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding-bottom: 40px;
}
.host-card h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    color: white;
}
.host-card p {
    font-size: 16px;
    text-align: left;
    color: rgba(255, 255, 255, 0.655);
    padding-bottom:12px ;
}

#footer-section {
    background-image: url(../assets/footer-bg.png);
    color: white;
    padding: 100px 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -10px;
    justify-content: center;
   
}


.footer-logo {
    font-size: 80px;
    font-weight: 800;
    margin-bottom: -10px;
    padding-bottom: 10px;
}


.social-links {
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.social-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    opacity: 0.8;
}

.copyright-text {
    font-size: 14px;
    opacity: 0.5;
    margin-top: 20px;
}
